.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  flex-grow: initial;
}

#container {
  margin: auto;
  text-align: center;
  padding: 2px;
  width: 30%;
  margin-top: 3vh;
  background-color: coral;
  border-radius: 4px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

input:disabled {
  background: transparent;
  border-color: transparent;
  color: black;
  width: 30px;
}

input {
  background: tan;
  border-color: transparent;
  color: black;
  width: 40px;
  border-radius: 2em;
}

#sliderDiv {
  display: flex;
  background-color: aliceblue;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  border-radius: 2em;
  margin: 0.5em;
}